body {
	padding: 3% 20% 3% 20%;
	max-width: 600px;
    margin: auto;
}

.img {
	max-width: 100%;
    height: auto;
}

.headline {
	margin: auto;
	font-family: "Arvo", "serif";
	font-size: 2.5em; 
}

.subhead {
	margin: auto;
	font-family: "Open Sans", "sans-serif";
}

.figcaption {
	font-family: "Open Sans", "sans-serif";
}

.byline {
	font-family: "Arvo", "serif";
}

.article-content {
	font-family: "Open Sans", "sans-serif";

}

